<%= form_for([@lab3ro, @insumolab3ro]) do |f| %>
  <% if @insumolab3ro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@insumolab3ro.errors.count, "error") %> prohibited this insumolab3ro from being saved:</h2>

      <ul>
      <% @insumolab3ro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-4 columns">
      <%= f.label :producto_id, "Producto"%>
      <%= f.collection_select :producto_id, Producto.all.where(:empresa_id => @current_empresa.id), :id, :producto %>
    </div>

    <div class="small-3 columns">
      <%= f.label :cantidad, "Cantidad" %>
      <%= f.text_field :cantidad %>
    </div>
    <div class="small-3 columns">
      <%= f.label :precio, "Precio" %>
      <%= f.text_field :precio %>
    </div>
    <div class="small-2 columns">
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
        <%= f.label :categoria, "Categoria" %>
        <%= f.select :categoria, options_for_select([["Herbicidas"], ["Fertilizantes"], ["Insecticidas"], ["Semillas"], ["Inoculantes y Curasemillas"], ["Otros"]]) %>
    </div>
  </div>

  <div class="row">
    <div class="small-9 columns">
      <%= f.label :comentario, "Observaciones" %>
      <%= f.text_area :comentario %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <ul class="button-group">
        <li><button class="button tiny" type="submit">Aceptar</button></li>
      </ul>
    </div>
  </div>
<% end %>
