<p> <%= link_to "Cerrar sesión", :controller => "usuarios", :action => "cerrar_sesion" %> </p>

<h2> Bienvenido/a </h2> 

	<h2><%= @current_user.nombre %></h2>
	<p>
      	<%= link_to "Listado de Insumos", :controller => "insumos", :action => "index" %>|
      	<%= link_to "Listado de Campos", :controller => "campos", :action => "index" %>|
      	<%= link_to "Facturas y Remitos de Insumos", :controller => "facy_rems", :action => "index" %>|
      	<%= link_to "Definición de Actividades", :controller => "actividads", :action => "index" %>|
      	<%= link_to "Coeficientes UTA", :controller => "coefuta", :action => "index" %>|
      	<%= link_to "Labores", :controller => "labgrale", :action => "labgrales" %>|
      	<%= link_to "Asignación de Lotes", :controller => "loteactividads", :action => "index" %>|
    </p>
