

<h2> Bienvenido/a <%= @current_user.nombre %></h2>

<table>
  <thead>
    <tr>
      <th>Empresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarioempresa.each do |usuarioempresa| %>
      <tr>
        <td><%= usuarioempresa.empresa.empresa %></td>
        <td><%= link_to 'Borrar', usuarioempresa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><td><%= link_to 'Seleccionar', usuarioempresa %></td></td>
      </tr>
    <% end %>
  </tbody>
</table>

    <ul class="button-group">
      <li class="tiny button"><a href="#" data-reveal-id="Modal1">Dar de Alta una Empresa</a></li>
      <li class="tiny button"><a href="#" data-reveal-id="Modal2">Agregar una Empresa Existente</a></li>
    </ul>
  

<div id="Modal1" class="reveal-modal" data-reveal>
      <iframe width="420" height="420" src="/empresas/new" frameborder="0" allowfullscreen></iframe>
  <a class="close-reveal-modal"><button class="tiny"><%=link_to "Salir", principal_principal_path %></button></a>
</div>

<div id="Modal2" class="reveal-modal" data-reveal>
      <iframe width="420" height="420" src="/usuarioempresas/new" frameborder="0" allowfullscreen></iframe>
  <a class="close-reveal-modal"><button class="tiny"><%=link_to "Salir", principal_principal_path %></button></a>
</div>


