<%= form_for([@campo, @lote]) do |lote| %>
   <% if @lote.errors.any? %>
      <ul>
         <% @lote.errors.each do |lote| %>
         <li> <%= lote %> </li>
         <% end %>
      </ul>
   <% end %>
<div class="row">
   <div class="large-1 columns">
      <%= lote.label :lote, "Lote" %>
      <%= lote.text_field :lote %>
   </div>
   <div class="large-2 columns">
      <%= lote.label :superficie, "Superficie" %>
      <%= lote.text_field :superficie %>
   </div>
   <div class="large-9 columns">
   </div>
</div>
   
   <div class="row">
    <div class="large-12 columns">
      <ul class="button-group">
        <li><button class="tiny" type="submit">Aceptar</button></li>
        <li class="button tiny"><%= link_to 'Volver', @campo %></li>
      </ul>
    </div>
  </div>
  
<% end %>