<%= form_for(@coefutum) do |f| %>
  <% if @coefutum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coefutum.errors.count, "error") %> prohibited this coefutum from being saved:</h2>

      <ul>
      <% @coefutum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-6 columns">
      <%= f.label :labor, "Labor" %>
      <%= f.text_field :labor %>
    </div>
  </div>
 <div class="row">
    <div class="small-6 columns">
      <%= f.label :coef, "Coeficiente" %>
      <%= f.text_field :coef %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <ul class="button-group">
        <li><button class="tiny" type="submit">Aceptar</button></li>
      </ul>
    </div>
  </div>
<% end %>
