<%= form_for @insumo do |f| %> 
   <div class="row">
    <div class="small-6 columns">
      <%= f.label :producto %><br>
      <%= f.text_field :producto %>
    </div>
    <div class="small-2 columns">
      <%= f.label :unidad %><br>
      <%= f.text_field :unidad %>
    </div>
    <div class="small-4 columns">
    </div>
  </div>

  <div class="row">
    <div class="small-3 columns">
      <%= f.label :saldoinicial, "Saldo Inicial" %><br>
      <%= f.text_field :saldoinicial %>
    </div>
    <div class="small-3 columns">
      <%= f.label :precioinicial, "Precio Inicial" %><br>
      <%= f.text_field :precioinicial %>
    </div>
    <div class="small-3 columns">
      <%= f.label :preciofinal, "Precio Final" %><br>
      <%= f.text_field :preciofinal %>
    </div>
    <div class="small-3 columns">
      <%= f.label :clase %><br>
      <%= f.text_field :clase %>
    </div>
  </div>


  <div class="row">
    <div class="small-12 columns">
      <ul class="button-group">
        <li><button class="button tiny" type="submit">Aceptar</button></li>
      </ul>
    </div>
  </div>
   
<% end %>