<h1>Insumos</h1>
<a href="#" data-reveal-id="Modal2"><button class="tiny">Nuevo Producto</button></a>

<div id="Modal2" class="reveal-modal" data-reveal>
      <iframe width="420" height="420" src="/insumos/new" frameborder="0" allowfullscreen></iframe>
  <a class="close-reveal-modal"><button class="tiny"><%=link_to "Salir", insumos_path %></button></a>
</div>

<table>
  <thead align = "center">
    <tr>
      <th>Producto</th>
      <th>Saldo inicial</th>
      <th>Precio inicial</th>
      <th>Monto inicial</th>
      <th>Facturado</th>
      <th>Remitido</th>
      <th>Saldo en Proveedores</th>
      <th>Utilizado</th>
      <th>Saldo final</th>
      <th>Precio final</th>
      <th>Monto Final</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody align = "center">
    <% @insumos.each do |insumo| %>
      <tr>
        <td><%= insumo.producto %></td>
        <td><%= insumo.saldoinicial %></td>
        <td><%= insumo.precioinicial %></td>
        <td><%= insumo.saldoinicial * insumo.precioinicial %></td>
        <td><%= facturado = CompraInsumo.where(:producto_id => insumo.id).sum(:cant_fac) %></td>
        <td><%= remitido = CompraInsumo.where(:producto_id => insumo.id).sum(:cant_rem) %></td>
        <td><%= saldoproveedoes = facturado - remitido %></td>
        <td><%= usado = Insumolabore.where(:producto_id => insumo.id).sum(:cantidad) + Insumolab3ro.where(:producto_id => insumo.id).sum(:cantidad)%></td>
        <td><%= saldofinal = facturado - usado + insumo.saldoinicial %></td>
        <td><%= insumo.preciofinal %></td>
        <td><%= saldofinal * insumo.preciofinal %></td>
        <td><a href="#" data-reveal-id="Modal<%=insumo.id%>"><button class="tiny">Modificar</button></a></td>
            <div id="Modal<%=insumo.id%>" class="reveal-modal" data-reveal>
               <iframe width="420" height="420" src= /insumos/<%=insumo.id%>/edit  frameborder="0" allowfullscreen></iframe>
              <a class="close-reveal-modal"><button class="tiny"><%=link_to "Salir", insumos_path %></button></a>
            </div>
        <td><button class="tiny"><%= link_to 'Borrar', insumo, method: :delete, data: { confirm: 'Está usted seguro?' } %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>




