<%= form_for(@actividad) do |f| %>
  <% if @actividad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actividad.errors.count, "error") %> prohibited this actividad from being saved:</h2>

      <ul>
      <% @actividad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-3 columns">
      <%= f.label :actividad %>
      <%= f.text_field :actividad %>
    </div>
  </div>
    
  <div class="row">
    <div class="large-3 columns">
        <%= f.label :tipo, "Tipo de Actividad" %>
        <%= f.select :tipo, options_for_select([["Agricultura"], ["Forrajes- Pasturas"], ["Forrajes- Silos"], ["Forrajes- Verdeos de Invierno"], ["Forrajes- Verdeos de Verano"]]) %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      <%= f.label :sementera, "Sementera" %>
      <%= f.select :sementera, options_for_select([["Sementera al Inicio"], ["Ejercicio"], ["Sementera al Cierre"]]) %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <ul class="button-group">
        <li><button class="tiny" type="submit">Aceptar</button></li>
        <li class="button tiny"><%= link_to 'Volver', facy_rems_path %></li>
      </ul>
    </div>
  </div>



<% end %>
