<%= form_for(@actividad) do |f| %>
  <% if @actividad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actividad.errors.count, "error") %> prohibited this actividad from being saved:</h2>

      <ul>
      <% @actividad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-6 columns">
      <%= f.label :actividad %>
      <%= f.text_field :actividad %>
    </div>
    <div class="small-6 columns">
        <%= f.label :tipo, "Tipo de Actividad" %>
        <%= f.select :tipo, options_for_select([["Agricultura"], ["Forrajes- Pasturas"], ["Forrajes- Verdeos de Invierno"], ["Forrajes- Verdeos de Verano"], ["Forrajes Conservados- Silos"],["Forrajes Conservados- Henos"]]) %>
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <%= f.label :sementera, "Sementera" %>
      <%= f.select :sementera, options_for_select([["Sementera al Inicio"], ["Ejercicio"], ["Sementera al Cierre"]]) %>
    </div>
     <div class="small-6 columns">
      <%= f.label :producto_id, "Producto" %>
      <%= f.collection_select :producto_id, @productos, :id, :producto, prompt: "" %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <ul class="button-group">
        <li><button class="tiny" type="submit">Aceptar</button></li>
      </ul>
    </div>
  </div>



<% end %>
