<%= form_for(@actividad) do |f| %>
  <% if @actividad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actividad.errors.count, "error") %> prohibited this actividad from being saved:</h2>

      <ul>
      <% @actividad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :actividad, "Actividad" %><br>
    <%= f.text_field :actividad %>
  </div>
  <div class="select">
    <%= f.label :tipo, "Tipo de Actividad" %><br>
    <%= f.select :tipo, options_for_select([["Agricultura"], ["Forrajes- Pasturas"], ["Forrajes- Silos"], ["Forrajes- Verdeos de Invierno"], ["Forrajes- Verdeos de Verano"]]) %>
  </div>
  <div class="radio_button">
    <%= f.radio_button(:sem_ini, true) %>
    <%= f.label(:sem_ini, "Sementera al Inicio") %>
    <%= f.radio_button(:sem_fin, true) %>
    <%= label_tag(:sem_fin, "Sementera al Cierre") %>
  </div>
  <div class="actions">
    <%= f.submit "Aceptar" %>
  </div>
<% end %>
