<h1>Lista de Actividades</h1>

<table>
  <thead>
    <tr>
      <th>Actividad</th>
      <th>Tipo de Actividad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actividads.each do |actividad| %>
      <tr>
        <td><%= actividad.actividad %></td>
        <td><%= actividad.tipo %></td>
        <td><%if (actividad.sem_ini == nil)&&(actividad.sem_fin == nil)%>
          Ejercicio
          <%elsif actividad.sem_ini == true%>
          Sementera al inicio
          <%else%>
          Sementera al cierre
          <%end%>
        <td><%= link_to 'Modificar', edit_actividad_path(actividad) %></td>
        <td><%= link_to 'Eliminar', actividad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Actividad', new_actividad_path %>
<p>
   <%= link_to 'Inicio', :controller => 'principal', :action => 'principal' %>
</p>
