<h1>Actividades</h1>
<a href="#" data-reveal-id="Modal2"><button class="tiny">Nueva Actividad</button></a>

<div id="Modal2" class="reveal-modal" data-reveal>
      <iframe width="420" height="420" src="/actividads/new" frameborder="0" allowfullscreen></iframe>
  <a class="close-reveal-modal"><button class="tiny"><%=link_to "Salir", actividads_path %></button></a>
</div>
<table>
  <thead>
    <tr>
      <th>Actividad</th>
      <th>Tipo de Actividad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actividads.each do |actividad| %>
      <tr>
        <td><%= actividad.actividad %></td>
        <td><%= actividad.tipo %> - <%= actividad.sementera %></td>
        <td> <ul class="button-group">
              <li><a href="#" data-reveal-id="Modal2-<%=actividad.id%>"><button class="tiny">Modificar</button></a></li>
              <div id="Modal2-<%=actividad.id%>" class="reveal-modal" data-reveal>
                <iframe width="420" height="420" src= /actividads/<%=actividad.id%>/edit  frameborder="0" allowfullscreen></iframe>
                <a class="close-reveal-modal"><button class="tiny"><%=link_to "Salir", actividads_path %></button></a>
              </div>
              <li><button class="tiny"><%= link_to 'Borrar', actividad, method: :delete, data: { confirm: 'Are you sure?'}%></button></li>
            </ul>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


