<%= form_for(@facy_rem) do |f| %>
  <% if @facy_rem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facy_rem.errors.count, "error") %> prohibited this facy_rem from being saved:</h2>

      <ul>
      <% @facy_rem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="small-6 columns">
      <%= f.label :fecha, "Fecha" %>
      <%= f.date_select :fecha %>
    </div>
    <div class="small-6 columns">
      <%= f.label :comprobante, "N° de Comprobante" %>
      <%= f.text_field :comprobante %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.label :proveedor, "Proveedor" %>
      <%= f.text_field :proveedor %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <ul class="button-group">
        <li><button class="tiny" type="submit">Aceptar</button></li>
      </ul>
    </div>
  </div>
<% end %>
