<%= form_for([@facy_rem, @compra_insumo]) do |f| %>
   <% if @compra_insumo.errors.any? %>
      <ul>
         <% @compra_insumo.errors.each do |compra_insumo| %>
         <li> <%= compra_insumo %> </li>
         <% end %>
      </ul>
   <% end %>
 
  <div class="row">
    <div class="small-6 columns">
      <%= f.label :producto_id, "Producto"%>
      <%= f.collection_select :producto_id, @insumos, :id, :producto %>
    </div>
    <div class="small-6 columns">
      <%= f.label :marca, "Marca" %>
      <%= f.text_field :marca %>
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <%= f.label :cant_fac, "Cantidad Facturada" %>
      <%= f.text_field :cant_fac %>
    </div>
    <div class="small-6 columns">
      <%= f.label :monto, "Monto" %>
      <%= f.text_field :monto %>
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <%= f.label :cant_rem, "Cantidad Remitida" %>
      <%= f.text_field :cant_rem %>
    </div>
  </div>

    
  <div class="row">
    <div class="small-12 columns">
      <ul class="button-group">
        <li><button class="tiny" type="submit">Aceptar</button></li>
      </ul>
    </div>
  </div>
<% end %>
