<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @compra_insumo.fecha %>
</p>

<p>
  <strong>Comprobante:</strong>
  <%= @compra_insumo.comprobante %>
</p>

<p>
  <strong>Insumo:</strong>
  <%= @compra_insumo.insumo_id %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @compra_insumo.marca %>
</p>

<p>
  <strong>Cant fac:</strong>
  <%= @compra_insumo.cant_fac %>
</p>

<p>
  <strong>Cant rem:</strong>
  <%= @compra_insumo.cant_rem %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @compra_insumo.monto %>
</p>

<%= link_to 'Edit', edit_compra_insumo_path(@compra_insumo) %> |
<%= link_to 'Back', compra_insumos_path %>
