<%= form_for(@empresa) do |f| %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% @empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-6 columns">
      <%= f.label :empresa %><br>
      <%= f.text_field :empresa %>
    </div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <%= f.label :codigo %><br>
      <%= f.text_field :codigo %>
    </div>
  </div>
  
  <div class="row">
    <div class="small-6 columns">
      <%= f.label :pass, "Contraseña"%><br>
      <%= f.text_field :pass %>
    </div>
  </div>
  
<button class="button tiny" type="submit">Aceptar</button>
<% end %>
