<%= form_for(@loteactividad) do |f| %>
  <% if @loteactividad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loteactividad.errors.count, "error") %> prohibited this loteactividad from being saved:</h2>

      <ul>
      <% @loteactividad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-3 columns">
      <%= f.label :campo_id %>
      <%= f.collection_select(:campo_id, Campo.all.where(:usuario_id => @current_user.id),:id, :nombre, {} ,{:id=>'Campo'}) %>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= f.label :lote_id %>
      <%= f.collection_select(:lote_id, Lote.where(:campo_id => Campo.where(:usuario_id => @current_user.id).first), :id, :lote,{},{:id=>'Lote'}) %>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= f.label :actividad_id, "Actividad" %>
      <%= f.collection_select :actividad_id, Actividad.all.where(:usuario_id => @current_user.id), :id, :actividad %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <ul class="button-group">
        <li><button class="tiny" type="submit">Aceptar</button></li>
        <li class="button tiny"><%= link_to 'Volver', loteactividads_path %></li>
      </ul>
    </div>
  </div>
  
<% end %>
