<h1>Actividades por Lote</h1>
<a href="#" data-reveal-id="Modal2"><button class="tiny">Asignar una actividad a un lote</button></a>

<div id="Modal2" class="reveal-modal" data-reveal>
      <iframe width="420" height="420" src="/loteactividads/new" frameborder="0" allowfullscreen></iframe>
  <a class="close-reveal-modal"><button class="tiny"><%=link_to "Salir", loteactividads_path %></button></a>
</div>
<table>
  <thead>
    <tr>
      <th>Campo</th>
    </tr>
  </thead>

  <tbody>
    <% @campos.each do |campo| %>
    <tr>
      <td>
        <dl class="accordion" data-accordion>
          <dd class="accordion-navigation">
            <a href="#panel<%=campo.id%>"><%= campo.nombre %></a>
            <div id="panel<%=campo.id%>" class="content">
              <table>
                <thead>
                  <tr>
                    <th>Lote</th>
                  </tr>
                </thead>

                <tbody>
                  <% @lotes = Lote.all.where(:campo_id => campo.id)%>
                  <% @lotes.each do |lote| %>
                  <tr>
                    <td>
                       <dl class="accordion" data-accordion>
                        <dd class="accordion-navigation">
                          <a href="#panel2-<%=lote.id%>"><%= lote.lote %></a>
                          <div id="panel2-<%=lote.id%>" class="content">
                            <table>
                              <thead>
                                <tr>
                                  <th>Actividad</th>
                                  <th>Superficie</th>
                                  <th>Producción</th>
                                  <th>Rendimiento</th>
                                  <th>Precio</th>
                                  <th>Ingreso</th>
                                </tr>
                              </thead>

                              <tbody>
                                <% @actividad = Loteactividad.all.where(:lote_id => lote.id) %>
                                <% @actividad.each do |actividad| %>
                                <tr>
                                  <td><%=actividad.actividad.actividad %></td>
                                  <td><%=actividad.superficie %></td>
                                  <td><%=actividad.produccion %> <%=actividad.actividad.producto.unidad%></td>
                                  <td><%= actividad.produccion/actividad.superficie %> <%=actividad.actividad.producto.unidad%></td>
                                  <td><%=actividad.precioproduccion %></td>
                                  <td><%= actividad.produccion*actividad.precioproduccion %></td>
                                  <td>
                                    <ul class="button-group">
                                      <li><a href="#" data-reveal-id="Modal2-<%=actividad.id%>"><button class="tiny">Modificar</button></a></li>
                                      <div id="Modal2-<%=actividad.id%>" class="reveal-modal" data-reveal>
                                        <iframe width="420" height="420" src= /loteactividads/<%=actividad.id%>/edit  frameborder="0" allowfullscreen></iframe>
                                        <a class="close-reveal-modal"><button class="tiny"><%=link_to "Salir", loteactividads_path %></button></a>
                                      </div>
                                      <li><button class="tiny"><%= link_to 'Borrar', actividad, method: :delete, data: { confirm: 'Are you sure?' } %></button></li>
                                    </ul>
                                  </td>
                                </tr>
                                <%end%>
                              </tbody>
                            </table>
                          </div>
                        </dd>
                      </dl>
                    </td>
                  </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </dd>
        </dl>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>














