<h1>Listing usuarioempresas</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Empresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarioempresas.each do |usuarioempresa| %>
      <tr>
        <td><%= usuarioempresa.usuario %></td>
        <td><%= usuarioempresa.empresa %></td>
        <td><%= link_to 'Show', usuarioempresa %></td>
        <td><%= link_to 'Edit', edit_usuarioempresa_path(usuarioempresa) %></td>
        <td><%= link_to 'Destroy', usuarioempresa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuarioempresa', new_usuarioempresa_path %>
