
      <ul class="button-group">
		<li class="button tiny"><%= link_to "Listado de Insumos", :controller => "insumos", :action => "index" %></li>
      	<li class="button tiny"><%= link_to "Listado de Campos", :controller => "campos", :action => "index" %></li>
      	<li class="button tiny"><%= link_to "Facturas y Remitos de Insumos", :controller => "facy_rems", :action => "index" %></li>
      	<li class="button tiny"><%= link_to "Definición de Actividades", :controller => "actividads", :action => "index" %></li>
      	<li class="button tiny"><%= link_to "Coeficientes UTA", :controller => "coefuta", :action => "index" %></li>
      	<li class="button tiny"><%= link_to "Labores", :controller => "labgrale", :action => "labgrales" %></li>
      	<li class="button tiny"><%= link_to "Asignación de Lotes", :controller => "loteactividads", :action => "index" %></li>
      </ul>
 

  <h1><%= @usuarioempresa.empresa.empresa %></h1>
  




