<p id="notice"><%= notice %></p>


<p>
  <strong>Fecha:</strong>
  <%= @labor.fecha %>
</p>

<p>
  <strong>Campo:</strong>
  <%= @labor.campo.nombre %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @labor.lote.lote %>
</p>

<p>
  <strong>Superficie:</strong>
  <%= @labor.superficie %>
</p>

<p>
  <strong>Labor:</strong>
  <%= @labor.coefutum.labor %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @labor.comentario %>
</p>

<%= link_to 'Edit', edit_labor_path(@labor) %> | <%= link_to "Agregar un Producto", new_labor_insumolabore_path(@labor) %> | <%= link_to 'Back', labors_path %>
<table>
  <thead align = "center">
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Costo</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody align= "center">
    <% @insumolabores.each do |a| %>
      <tr>
        <td><%= a.insumo.producto %></td>
        <td><%= a.cantidad %></td>
        <td><%= a.cantidad * a.precio %></td>
        <td><%= a.comentario %></td>
        <td><%= link_to 'Modificar', edit_labor_insumolabore_path(@labor, a) %></td>
         <td><%= link_to "Eliminar", labor_insumolabore_path(@labor, a), :confirm => "Seguro desea eliminar este registro?", :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
