<p id="notice"><%= notice %></p>

<p>
  <strong>Producto:</strong>
  <%= @venta.producto %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @venta.cantidad %>
</p>

<p>
  <strong>Montobruto:</strong>
  <%= @venta.montobruto %>
</p>

<p>
  <strong>Costoflete:</strong>
  <%= @venta.costoflete %>
</p>

<p>
  <strong>Costocomercial:</strong>
  <%= @venta.costocomercial %>
</p>

<p>
  <strong>Comprador:</strong>
  <%= @venta.comprador %>
</p>

<%= link_to 'Edit', edit_venta_path(@venta) %> |
<%= link_to 'Back', ventas_path %>
