<%= form_for([@labor, @insumolabore]) do |f| %>
  <% if @insumolabore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@insumolabore.errors.count, "error") %> prohibited this insumolabore from being saved:</h2>

      <ul>
      <% @insumolabore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-2 columns">
      <%= f.label :insumo_id, "Producto"%>
      <%= f.collection_select :insumo_id, Insumo.all.where(:usuario_id => @current_user.id), :id, :producto %>
    </div>

    <div class="large-2 columns">
      <%= f.label :cantidad, "Cantidad" %>
      <%= f.text_field :cantidad %>
    </div>
    <div class="large-2 columns">
      <%= f.label :precio, "Precio" %>
      <%= f.text_field :precio %>
    </div>
    <div class="large-6 columns">
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label :comentario, "Observaciones" %>
      <%= f.text_area :comentario %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <ul class="button-group">
        <li><button class="tiny" type="submit">Aceptar</button></li>
        <li class="button tiny"><%= link_to 'Volver', @labor %></li>
      </ul>
    </div>
  </div>
<% end %>
